.header {
    display: flex;
    position: sticky;
    top: 0;
    height: 60px;
    z-index: 100;
    align-items: center;
    background-color: rgb(29, 28, 28);
    box-shadow: 2px 2px 5px rgb(60, 60, 61);
    &__logo {
        width: 100px;
        margin: 18px 30px 0px 20px;
        object-fit: contain;
    }
    &__search {
        display: flex;
        flex: 1;
        align-items: center;
        &--input {
            height: 12px;
            padding: 10px;
            width: 100%;
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
            border: none;
        }
        &--icon {
            padding: 5.5px;
            height: 21.5px !important;
            background-color: #cd9042;
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
            margin-top: .5px;
        }
    }
    &__nav {
        color: white;
        display: flex;
        justify-content: space-evenly;
        margin-left: 20px;
        margin-right: 20px;
        &__option {
            display: flex;
            flex-direction: column;
            margin-left: 12px;
            margin-right: 12px;
            &__lineOne {
                font-size: 10px;
                color: rgb(219, 211, 211);
            }
            &__lineTwo {
                font-size: 14px;
                font-weight: 800;
            }
        }
        &__optionBasket {
            display: flex;
            align-items: center;
            margin-left: 10px;
            &__count {
                margin-left: 10px;
                margin-right: 10px;
            }
            .shopping_basket {
                color: white;
            }
        }
    }
}